<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="ch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>城院校友</title>

    <link rel="stylesheet" th:href="@{/css/classes/class-detail.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/index/carousel.css}">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/navbar.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bbs/bbs.css}">


</head>

<body>
<!--上导航栏-->
<div th:insert="~{index :: navbar}"></div>
<!--<div style="height: 60px;width: 100%"></div>-->

<!--主体部分-->

<div class="container" style="margin-top: 80px">

    <!-- 导航栏 -->
    <div class="header">
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i>&nbsp;<a href="../home/index.html" style="color: #0000FF">主页</a></li>
            <li class="active">班级详情</li>
        </ol>
    </div>

    <div class="col-md-9 col-xs-9" style="padding-left: 0px">
        <div lay-filter="demo" class="layui-tab layui-tab-card">
            <ul class="layui-tab-title" style="background-color: #02252f;color: white">
                <li class="layui-this"><span class="glyphicon glyphicon-home">&nbsp;</span>首页</li>
<!--                <li><span class="glyphicon glyphicon-comment">&nbsp;</span>动态</li>-->
                <li ><span class="glyphicon glyphicon-picture">&nbsp;</span>相册</li>
                <li  lay-id="tab3"><span class="glyphicon glyphicon-phone-alt">&nbsp;</span>通讯录</li>
<!--                <li><span class="glyphicon glyphicon-user">&nbsp;</span> 成员</li>-->
<!--                <li><span class="glyphicon glyphicon-cog">&nbsp;</span>管理</li>-->
<!--                <li><span class="glyphicon glyphicon-map-marker">&nbsp;</span>地图</li>-->
            </ul>
            <div class="layui-tab-content" style="height: 550px;background-color: #f5f5f5">
                <div class="layui-tab-item layui-show" style="padding-left: 20px">

                    <div style="background-color: #f3f2f2;height: 60px;padding: 15px">
                        <h3><span class="glyphicon glyphicon-list-alt">&nbsp;</span>班级简介:</h3>
                    </div>

                    <div style="background-color: #eee">

                        <p style=" font-size: 15px;line-height: 35px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            这是1702401班,欢迎您的加入。这是1702401班,欢迎您的加入。这是1702401班,欢迎您的加入。这是1702401班,欢迎您的加入。
                            这是1702401班,欢迎您的加入。这是1702401班,欢迎您的加入。这是1702401班,欢迎您的加入。这是1702401班,欢迎您的加入。
                        </p>
                    </div>
                    <br>
                    <div style="background-color: #f3f2f2;height: 60px;padding: 15px">
                        <h3><span class="glyphicon glyphicon-envelope">&nbsp;</span>最新动态:</h3>
                    </div>
                    <div class="item" th:each="question : ${questionList}">
                        <a title="ccdalao - 个人主页" href="#" target="_blank">
                            <img class="img-circle" uid="2329" pos="right" th:src="${question.user.uimage}" style="cursor: pointer">
                        </a>
                        <div class="middle text">
                            <h4 class="title">
                                <!--                    <a class="forum-name" href="#" th:text="'['+${question.tag}+']'"></a>-->
                                <a style="" class="thread-title" th:href="'/question/'+${question.id}" th:text="${question.title}"></a>
                                <a href="#" ><span th:text="${question.tag}" class="label label-info"></span></a>

                            </h4>
                            <div class="meta" th:text="${question.user.name}+'&nbsp;&nbsp;·&nbsp;&nbsp;发表于 '+${T(com.util.DateUtil).getCreateDate(question.createTime)}+'&nbsp;&nbsp;·&nbsp;&nbsp;'+${question.viewCount}+'次浏览'">
                            </div>
                            <div class="comment">
                                <span class="badge badge-success" th:text="${question.commentCount}"></span>
                            </div>
                        </div>
                    </div>

<!--                    <div style="background-color: #f3f2f2;padding: 15px">-->
<!--                        <p style=" font-size: 18px;line-height: 35px;color: #0f0f0f"><a href="#">欢迎来到1702401班大家庭</a></p>-->
<!--                        <div style="color: gray;font-size: 12px">-->
<!--                            By:<a href="#" style="color: #0000FF">刘冬冬</a>|2021-2-5&nbsp;15:30|<a href="#" style="color: #0000FF">评论（0）</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div style="background-color: #f3f2f2;padding: 15px">-->
<!--                        <p style=" font-size: 18px;line-height: 35px;color: #0f0f0f"><a href="#">欢迎来到1702401班大家庭</a></p>-->
<!--                        <div style="color: gray;font-size: 12px">-->
<!--                            By:<a href="#" style="color: #0000FF">刘冬冬</a>|2021-2-5&nbsp;15:30|<a href="#" style="color: #0000FF">评论（0）</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <hr>-->

<!--                    <div style="background-color: #f3f2f2;padding: 15px">-->
<!--                        <p style=" font-size: 18px;line-height: 35px;color: #0f0f0f"><a href="#">欢迎来到1702401班大家庭</a></p>-->
<!--                        <div style="color: gray;font-size: 12px">-->
<!--                            By:<a href="#" style="color: #0000FF">刘冬冬</a>|2021-2-5&nbsp;15:30|<a href="#" style="color: #0000FF">评论（0）</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <hr>-->

                </div>
<!--                <div class="layui-tab-item" style="padding:15px">-->
<!--                    <input type="text" class="form-control" placeholder="标题。。。">-->
<!--                    <br>-->
<!--                    <textarea class="form-control" rows="3" placeholder="写点什么。。。"></textarea>-->
<!--                    <br>-->
<!--                    <div class="layui-upload">-->
<!--                        <button type="button" class="layui-btn" id="test2">选择图片</button>-->
<!--                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">-->
<!--                            预览图：-->
<!--                            <div class="layui-upload-list" id="demo2"></div>-->
<!--                        </blockquote>-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    <button type="submit" class="btn btn-primary">提交</button>-->
<!--                    <br>-->
<!--                </div>-->
                <div class="layui-tab-item" style="padding-top: 20px">
                    <div class="col-md-12" style="margin-bottom: 20px">
                        <button type="button" class="layui-btn"data-toggle="modal" data-target="#myModal">上传图片</button>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img th:src="@{/images/background/hncu-flow.jpg}" height="200"/>
                                <p>这里是图片的描述</p>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img th:src="@{/images/background/hncu-flow.jpg}" height="200"/>
                                <p>这里是相册的描述</p>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img th:src="@{/images/background/hncu-flow.jpg}" height="200"/>
                                <p>这里是相册的描述</p>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img th:src="@{/images/background/hncu-flow.jpg}" height="200"/>
                                <p>这里是相册的描述</p>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img th:src="@{/images/background/hncu-flow.jpg}" height="200"/>
                                <p>这里是相册的描述</p>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img th:src="@{/images/background/hncu-flow.jpg}" height="200"/>
                                <p>这里是相册的描述</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">

                    <table class="table">
<!--                        <caption>班级成员列表</caption>-->
                        <tbody>
                        <tr th:each="twoUserInfo:${twoUserInfos}">
                            <td>
                                <div class="col-md-12 col-xs-12" >
                                    <div class="col-md-3 col-xs-3">
                                        <img th:src="${twoUserInfo.userInfo1.uimage}" width="80" class="img-rounded"/>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <p th:text="${twoUserInfo.userInfo1.name}" href="#" style="color:#3636d7;font-size: 15px;">刘冬冬</p>
                                        <p th:text="${twoUserInfo.userInfo1.address}" style="font-size: 10px;"><span class="glyphicon glyphicon-map-marker">&nbsp;</span>山东省郓城县菏泽市</p>
                                        <p th:text="${twoUserInfo.userInfo1.position}" style="font-size: 10px;"><span class="glyphicon glyphicon-briefcase">&nbsp;</span>地理信息开发工程师</p>
                                        <p th:text="${twoUserInfo.userInfo1.mobilephone}"><span class="glyphicon glyphicon-phone">&nbsp;</span>18865015355</p>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <a style="margin-top:20px" class="btn btn-success" onclick="addFriends()" th:href="'/class/addFriends?fuserid='+${twoUserInfo.userInfo1.userid}" role="button">添加好友</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12 col-xs-12" >
                                    <div class="col-md-3 col-xs-3">
                                        <img th:src="${twoUserInfo.userInfo2.uimage}" width="80" class="img-rounded"/>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <p th:text="${twoUserInfo.userInfo2.name}" href="#" style="color:#3636d7;font-size: 15px;">刘冬冬</p>
                                        <p th:text="${twoUserInfo.userInfo2.address}" style="font-size: 10px;"><span class="glyphicon glyphicon-map-marker">&nbsp;</span>山东省郓城县菏泽市</p>
                                        <p th:text="${twoUserInfo.userInfo2.position}" style="font-size: 10px;"><span class="glyphicon glyphicon-briefcase">&nbsp;</span>地理信息开发工程师</p>
                                        <p th:text="${twoUserInfo.userInfo2.mobilephone}"><span class="glyphicon glyphicon-phone">&nbsp;</span>18865015355</p>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <a style="margin-top:20px" class="btn btn-success" onclick="addFriends()" th:href="'/class/addFriends?fuserid='+${twoUserInfo.userInfo2.userid}" role="button">添加好友</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--layui 分页-->
                    <div id="demo4" class="text-center"></div>
                </div>
<!--                <div class="layui-tab-item">5</div>-->
                <div class="layui-tab-item">6</div>
                <div class="layui-tab-item">7</div>
            </div>
        </div>
    </div>

    <div th:insert="classes/classes::classes-right"></div>

</div> <!-- /container -->

<!-- 创建相册Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">创建相册</h4>
            </div>
            <div class="modal-body">
<!--                <input type="text" class="form-control" placeholder="标题。。。">-->
                <br>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test3">选择图片</button>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        预览图：
                        <div class="layui-upload-list" id="demo3"></div>
                    </blockquote>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">上传</button>
            </div>
        </div>
    </div>
</div>

</div><!-- /.container -->

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>



<!--聊天系统-->
<script th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
    var userid = [[${session.userid}]];
</script>
<script type="application/javascript" th:src="@{/layim/layui/layui.js}"></script>
<script type="application/javascript" th:src="@{/js/admin/layuiim.js}"></script>

<!--layui分页-->
<script type="text/javascript" th:inline="javascript">
    layui.use(['laypage', 'layer'], function () {
        var page = [[${page}]]

        var laypage = layui.laypage, layer = layui.layer;
        //自定义首页、尾页、上一页、下一页文本
        laypage.render({
            elem: 'demo4'
            , count: 100//数据总数，从服务端得到
            , first: '首页'
            , last: '尾页'
            , curr: page //获取起始页
            , prev: '<em>上一页</em>'
            , next: '<em>下一页</em>'
            ,jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数
                //window.location.href="/admin/studentList"

                //首次不执行
                if(!first){
                    //do something
                    console.log("首次不执行");
                    window.location.href="/classes/classDetail/?page="+obj.curr+"&limit=8"+"&classId="+[[${classId}]]+"&classNum="+[[${classNum}]];
                }
            }
        });
    });
</script>

<script type="text/javascript" th:inline="javascript">
    var tab3=[[${tab3}]];
    layui.use('element', function(){
        var element = layui.element;
        if(tab3 == 1){
            element.tabChange('demo', 'tab3')
        }

        //一些事件触发
        element.on('tab(demo)', function(data){
            console.log(data);
        });
    });
</script>

<!--图片上传-->
<script>
    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;
        //多图片上传
        upload.render({
            elem: '#test2'
            ,url: 'https://httpbin.org/post' //改成您自己的上传接口
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" style="width: 200px">')
                });
            }
            ,done: function(res){
                //上传完毕
            }
        });
    })

    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;
        //多图片上传
        upload.render({
            elem: '#test3'
            ,url: 'https://localhost/post' //改成您自己的上传接口
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo3').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" style="width: 200px">')
                });
            }
            ,done: function(res){
                //上传完毕
            }
        });
    })
</script>
<script>
    function addFriends(){
        layui.use(['form','layer'], function () {
            var form=layui.form;
            var $ = layui.jquery,
                layer = layui.layer;
            //layer.alert('添加成功，请在右下角好友列表查看', {icon: 6,time: 5000});
            alert("添加成功，请在右下角好友列表查看");
            window.location.reload();
        });

    }

</script>